#bgimage{
    background-image:url("/images/banner.jpg") ;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;

}

#blur{
    background: rgba(0,0,0,0.8);
    height: 80vh;

    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#blur p{
    width: 800px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}